.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    margin-bottom: 2rem;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.editorContainer {
    display: flex;
    flex-direction: column;
}